<app-title-bar></app-title-bar>

<div class="flex-box">
      <div *ngFor="let p of prodotti" class="card text-bg-dark">
            <a href="">
                  <img [src]="p.img" class="card-img" alt="immagine prodotto">
                  <div class="card-img-overlay">
                        <div class="esolamenteuntest"><span class="card-title">
                              {{p.nome}}<br>
                              {{p.prezzo | currency:"EUR"}}<br>
                        </span></div>
                  </div>
            </a>
      </div>
</div> 
