<span class="credito">Credito: {{credito | number:"1.2"}}€</span>
<div class="flex-box-home">
      <div class="card text-bg-dark">
            <a [routerLink]="['calde']">
                  <img src="../../../assets/BevandeCalde/hCappuccino.png" class="card-img" alt="...">
                  <div class="card-img-overlay">
                        <div class="titolo-sezione">
                              <span class="card-title">Bevande Calde</span>
                        </div>
                  </div>
            </a>
      </div>

      <div class="card text-bg-dark">
            <a [routerLink]="['fredde']">
                  <img src="../../../assets/ProdottiFreddi/bueno.png" class="card-img" alt="...">
                  <div class="card-img-overlay">
                        <div class="titolo-sezione"><span class="card-title">Prodotti Freddi</span></div>
                  </div>
            </a>
      </div>
</div>
