<div class="flex-box">
      <div class="card text-bg-dark">
            <a href="/calde">
                  <img src="../../../assets/BevandeCalde/cappuccio.webp" class="card-img" alt="...">
                  <div class="card-img-overlay">
                        <div class="esolamenteuntest"><span class="card-title">Bevande Calde</span></div>
                  </div>
            </a>
      </div>

      <div class="card text-bg-dark">
            <a href="/fredde">
                  <img src="../../../assets/ProdottiFreddi/bueno.jpg" class="card-img" alt="...">
                  <div class="card-img-overlay">
                        <div class="esolamenteuntest"><span class="card-title">Prodotti Freddi</span></div>
                  </div>
            </a>
      </div>
</div>
