<span class="credito">Credito: {{credito | number:"1.2"}}€</span>

<div class="confermaAcquisto">
    <h1>{{prodottoSelezionato?.nome}}</h1>
    <img [src]="prodottoSelezionato?.img" alt="prodotto selezionato">
    
    <label for="customRange3" class="form-label">Quantità di zucchero: {{zucchero}}</label>
    <input type="range" class="form-range" min="0" max="5" step="1" (change)="aggiornaZucchero()" [defaultValue]="0" id="customRange3">
    
    <div class="bottoniConferma">
        <input type="button" value="ANNULLA" id="annulla" [routerLink]="['/calde']">
        <input type="button" value="CONFERMA" id="conferma" (click)="canferma()">
    </div>
</div>
