<app-title-bar></app-title-bar>

<div class="chiSiamo">
    <section class="team-section">
        <div class="team-member">
            <h2>Pecci Samuele</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dignissimos nesciunt fugiat repellat
                vel placeat error ab deserunt obcaecati nisi sed expedita est totam magnam, qui a cum illo corporis.</p>
        </div>

        <div class="team-member">
            <h2>Bianchi Leonardo</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus minus et sapiente deleniti maiores
                corporis est sed eius rem, aperiam quidem illo quas laudantium ex veniam, corrupti accusantium veritatis
                assumenda?</p>
        </div>

        <div class="team-member">
            <h2>Arcuri Matteo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia assumenda optio provident, ex nisi
                similique enim cum numquam quas magni aliquam autem, nobis fugit quisquam consequatur odit! Quibusdam,
                quae ipsum.</p>
        </div>

        <div class="team-member">
            <h2>Cufi Gerald</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorum dolores molestiae voluptates
                unde perspiciatis nulla adipisci ea, veniam eos sed sit animi at est perferendis consequatur molestias
                odit saepe!.</p>
        </div>
    </section>
</div>