<app-title-bar></app-title-bar>

<div class="chiSiamo">
    <section class="team-section">
        <div class="team-member">
            <h2>Pecci Samuele</h2>
            <p>Programmatore esperto con una passione per l'innovazione tecnologica.</p>
        </div>

        <div class="team-member">
            <h2>Bianchi Leonardo</h2>
            <p>Specializzato nello sviluppo di applicazioni web e mobile.</p>
        </div>

        <div class="team-member">
            <h2>Arcuri Matteo</h2>
            <p>Appassionato di data science e analisi dei dati.</p>
        </div>

        <div class="team-member">
            <h2>Cufi Gerald</h2>
            <p>Programmatore full-stack con competenze in diverse tecnologie.</p>
        </div>
    </section>
</div>
